/* ContentView.css */
/* 
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw !important;
    transition: margin-left 0.5s;
} */
.progress-bar{
    margin-left: 100px;
    max-width: 100%;
}

.selected-content {
    display: flex;
    flex-direction: column;
    height: calc(85vh - 60px); /* Adjust based on your navbar height */
    margin-left: 100px;
    margin-right: 15px;
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  .selected-content img,    
  .selected-content video {
    max-width: 100%;
    height: auto;
  }
  .progress-bar{
    margin-right: 30px;
}



/* Adjustments for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
    .sidebar.close + .content {
        margin-left: 0px; /* Reset the margin for smaller screens */
        margin-right: 4px;
    }
    .content {
        height: 70vh;
        transition: margin-left 0.5s; /* Add a transition for smooth animation */

    }
    .selected-content,.progress-bar{
        margin-left: 5px;
        margin-right: 4px;
    }
}