
.notesButton{
    background-image: linear-gradient(-180deg, #b9ac1efb 0%, #b9ac1efb 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 8%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media screen and (max-width: 767px) {
    .notesButton {
        width: 15%;
        padding: 0.75rem;
        margin-left: -8px;
        
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .notesButton {
        display: none;
    }
}

.custom-btn {
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:
        inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
}


.button-43 {
    background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 10%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-43:hover {
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);

}

@media screen and (max-width: 767px) {
    .button-43 {
        width: 25%;
        padding: 0.75rem;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .button-43 {
        display: none;
    }
}

.content {
    margin-left: 120px;
    width: 100%;
    margin-top: 80px;
}

.selected-content {
    display: flex;
    flex-direction: column;
    height: calc(88vh - 83px);
    overflow-y: auto;
}

/* Adjustments for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
    .sidebar.close+.content {
        margin-left: 0px;
        margin-right: 0px;
    }
    .content{
        margin-top: 100px;

    }
    .selected-content img,
    .selected-content video {
        height: calc(50vh - 50px);
        overflow-y: auto;
    }

    @media screen and (orientation: landscape) {
        .content{
            margin-top: 65px;

        }
        .selected-content img,
        .selected-content video {
            height: calc(100vh - 70px);
            overflow-y: auto;
        }
    }
}

