html,
body {
  margin: 0;
  padding: 0;
}

#main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

#header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #f6e852fb;
}

#navbar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

#navbar li:hover {
  background: white;
}

.sticky {
  font: 20px "Short Stack", "Gloria Hallelujah", cursive;
  line-height: 1.5;
  border-radius: 3px;
  background: linear-gradient(rgb(249, 239, 175), rgb(247, 233, 141));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  min-height: 400px;
  margin: 30px;
  transition: 0.3s;
  float: left;
  display: none;
}

.sticky:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.sticky-content::-webkit-scrollbar {
  width: 10px;
}

.sticky-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sticky-content::-webkit-scrollbar-thumb {
  background: #888;
}

.sticky-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sticky-header {
  height: 30px;
  width: inherit;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.sticky-header-menu {
  padding: 10px 15px;
  box-sizing: border-box;
  display: block;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.sticky-header-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sticky-content {
  padding: 10px 10px 0 10px;
  overflow-y: auto;
  width: 400px;
  min-height: 400px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
  background-color: transparent;
  display: block;
}

.sticky-content:focus {
  outline: none;
}

#createStickyBtn {
  display: none;
  padding: 25px 25px 40px;
  margin: 30px;
  width: 270px;
  height: 270px;
  user-select: none;
  border: 15px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.1);
  font: 220px "Helvetica", sans-serif;
  line-height: 185px;
  box-sizing: border-box;
}

#createStickyBtn:hover {
  border-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .sticky {
    line-height: 1.2;
    width: 200px;
    min-height: 180px;
    margin: 20px;
  }

  .sticky-content {
    width: 200px;
    min-height: 170px;
    font-size: 16px;
  }

  #createStickyBtn {
    margin: 20px;
    width: 200px;
    height: 180px;
    padding: 0;
    line-height: 150px;
  }

  #header,
  #how-it-works {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  .sticky {
    line-height: 1.2;
    width: 250px;
    min-height: 300px;
    margin: 15px;
  }

  .sticky-content {
    width: 250px;
    min-height: 200px;
    font-size: 18px;
  }

  #createStickyBtn {
    margin: 15px;
    width: 140px;
    height: 140px;
    padding: 0;
    font: 90px "Helvetica", sans-serif;
  }

  #header,
  #how-it-works {
    font-size: 12px;
  }
}
