/* Sidebar.css */
body {
  overflow: hidden;
}

.sidebar {
  background-color: whitesmoke; 
  width: 260px;
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  padding: 80px 0;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 5px 0 6px #2a2a2ac4;
  transition: all 0.5s ease;

}

.tooltip-white-bg-dark-mode .tooltip-inner {
  background-color: whitesmoke !important;
  color: #000000 !important;
}

.tooltip-white-bg-dark-mode {
  border-top-color: #ffffff !important;

}


.nav_link {
  justify-content:space-between; 

}
.sidebar.close {
  padding: 60px 5px;
  width: 110px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
  margin-top: 10px;
  
}

/* .menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
} */

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
  
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

/* .navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -0px;
} */


.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
  height: 50%;
  
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu ~ .submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 5px 10px 5px 30px;
}

.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color:whitesmoke;
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

/* #sidebarOpen {
  font-size: 250px;
  display: block;
  margin-right: 10px;
  cursor: pointer;
  color: var(--grey-color);
} */

/* Add dark mode styles */
.dark .sidebar {
  background-color:black;
  /* color: var(--dark-text-color); */
}

.dark .bottom {
  background-color: black;
  /* color: var(--dark-text-color); */
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: block;
    top: 10px;
    transition: all 0.5s ease;

  }

  .sidebar.open {
    display: block;
  }

  .sidebar.close {
    display: none;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .sidebar{
    top: -30px;
  }
}