/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #dededee1;
  --blue-color: #747474;
  --grey-color: #3e3e3e;
  --grey-color-light: #aaa;
  
}

.wrapper {
  display: flex;
  transition: margin-left 0.5s;
}

.sidebar-open {
  margin-left: 170px; /* Adjust this margin based on the sidebar width */
}


body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

body.dark {
  background-color: #000; /* Change this to the desired background color for dark mode */
}
App dark {
  background-color: #333;
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}
